@use 'fonts';
@use 'helpers';
@use 'animation';

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #eef0f2;
  --blue-color: #143447;
  --red-color: #ff0763;

  --gray-color: #c4c4c4;
  --error-color: #ff0000;
  --success-color: #04d744;
}

body,
* {
  background-color: var(--white-color);
  color: var(--blue-color);
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: var(--red-color);
  cursor: pointer;
}

.auth-form {
  width: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
