@import 'fonts';

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #eef0f2;
  --blue-color: #143447;
  --red-color: #ff0763;
}

body,
* {
  background-color: var(--white-color);
  color: var(--blue-color);
  font-family: 'Ubuntu', sans-serif;
}
