:root {
  --white-color: #eef0f2;
  --blue-color: #143447;
  --red-color: #ff0763;

  --gray-color: #c4c4c4;
  --error-color: #ff0000;
  --success-color: #04d744;

  --modal-layer: 900;
  --sidebar-layer: 800;
  --popover-layer: 100;

  --page-padding: 12px;

  --menu-open-width: 220px;
  --menu-close-width: 50px;

  --radius-5: 5px;

  --mobile-width: 768px;

  --shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
