.wrapper {
  position: relative;
  display: block;
}

.popover-content {
  position: absolute;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 6px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: var(--popover-layer);
  min-width: 100px;

  top: calc(100% + 10px);
  right: 0;
}

.menu_items {
  .menu_item {
    margin: 10px 15px;
    cursor: pointer;
    font-size: 18px;
  }
}
