<form
  [formGroup]="form"
  (ngSubmit)="handleSubmit()"
  (keydown.enter)="handleSubmit()"
  class="auth-form"
>
  <h1 class="">Login</h1>

  <div class="">
    <ui-input
      formControlName="login"
      placeholder="Nickname Or Email"
      [error]="loginError"
    ></ui-input>
    <ui-input
      formControlName="password"
      placeholder="Password"
      type="password"
      [error]="passwordError"
    ></ui-input>
  </div>
  <div class="flex justify-between">
    <div class="remember">
      <label>
        <input type="checkbox" [checked]="isRememberMe" (change)="toggleRememberMe($event)" />
        <span>Remember me</span>
      </label>
    </div>

    <a routerLink="/forgot-password">Forgot password?</a>
  </div>

  <ui-button fullWidth size="lg" [loading]="isLoading" type="submit">Login</ui-button>

  <div class="text-center">
    <a routerLink="/signup">No account? Sin up</a>
  </div>
</form>
