:root {
  --bg-color: #fdfcff;
  --text-color: #1a1a2e;
  --prime-color: #7641f1;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  --gray-color: #c4c4c4;
  --error-color: #ff0000;
  --success-color: #04d744;

  --modal-layer: 900;
  --sidebar-layer: 800;
  --topbar-layer: 700;
  --popover-layer: 100;

  --page-padding: 14px;

  --menu-open-width: 220px;
  --menu-close-width: 50px;

  --radius-5: 5px;

  --mobile-width: 768px;
}

[data-theme='dark'] {
  --bg-color: #181825;
  --text-color: #f5f5f5;
  --prime-color: #a78bfa;

  --shadow: 0 4px 12px rgba(255, 255, 255, 0.3);

  --gray-color: #969494;
}
