# dependencies
node_modules

# builds
dist
frontend/.angular
frontend/out-tsc
frontend/dist
backend/dist

# env
.env
.development.env
.production.env
frontend/src/environments/environment.ts

# tests / coverage
coverage
.nyc_output

# runtime data
backend/uploads
backend/images

# OS / editor
.DS_Store
*.log
