# dependencies
node_modules

# builds
dist
apps/web/.angular
apps/web/out-tsc
apps/web/dist
apps/server/dist

# env
.env
.development.env
.production.env
apps/web/src/environments/environment.ts

# tests / coverage
coverage
.nyc_output

# runtime data
apps/server/uploads
apps/server/images

# OS / editor
.DS_Store
*.log
