<button
  class="button"
  [disabled]="disabled || loading"
  [ngClass]="{
    full_width: fullWidth,
    filled: variant === 'filled',
    outlined: variant === 'outlined',
    disabled: disabled
  }"
  [type]="type"
  variant="variant"
  loading="loading"
  fullWidth="fullWidth"
  (click)="handleClick()"
>
  @if(loading) {
  <div
    class="spinner"
    [ngClass]="{ filled: variant === 'filled', outlined: variant === 'outlined' }"
  ></div>
  } @else {
  <ng-content></ng-content>
  }
</button>
