<div class="flex align-center justify-between mb-10">
  @if (isFetching) {
    <ui-skeleton width="300px" height="27px" />
  } @else {
    <ui-breadcrumbs [links]="links()" />
  }
  <ui-button variant="outlined" size="sm" (click)="toggleDeleteModal()">Delete</ui-button>
</div>

@if (isFetching) {
  <div class="column gap-10 align-end">
    <ui-skeleton width="100%" height="60px" />
    <ui-skeleton width="100%" height="314px" />
    <ui-skeleton width="180px" height="36px" />
  </div>
} @else {
  <board-update-form [currentBoard]="currentBoard()" />
}

<board-delete-modal [open]="isModal()" (closeModal)="toggleDeleteModal()"></board-delete-modal>
