.wrapper {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    border: 2px solid var(--blue-color);
    border-radius: 5px;
    font-size: 18px;
    padding: 8px 6px;
    height: 41px;

    &:focus {
      outline: none;

      border-color: var(--red-color);
    }
  }

  .eye {
    position: absolute;
    right: 10px;
    top: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;

    img {
      width: 24px;
      height: 24px;
      display: block;
    }
  }

  .error {
    font-size: 14px;
    height: 20px;
    padding-top: 1px;

    span {
      color: var(--error-color);
    }
  }
}
