<div class="flex justify-between align-center" style="gap: 8px">
  <div class="flex align-center">
    <h4 class="mr-10">Agile Boards</h4>

    @if(isBoardSelect){
    <div class="flex align-center">
      <ui-select
        [options]="boardSelectOptions"
        [selected]="selectedBoardOption"
        placeholder="Select board"
      ></ui-select>

      <ui-popover>
        <div popover-anchor class="icon_more flex align-center">
          <img src="/svg/more.svg" alt="" />
        </div>

        <div popover-content>
          <div class="menu_items">
            @for (m of selectedBoardActions; track m.text) {
            <div class="menu_item" (click)="m.action()">{{ m.text }}</div>
            }
          </div>
        </div>
      </ui-popover>
    </div>
    } @else {
    <p class="">No Boards</p>
    }
  </div>

  <ui-button size="sm" (onClick)="toggleAddModal()">New Board</ui-button>
</div>

<div class="add_task">
  <ui-button size="sm" variant="outlined" (onClick)="toggleAddModal()">Add Task</ui-button>
</div>

<ui-skeleton width="1000px" height="200px"></ui-skeleton>

<board-modal [open]="isAddModal" (closeModal)="toggleAddModal()"></board-modal>

<board-modal [open]="isEditModal" (closeModal)="toggleEditModal()" action="update"></board-modal>

<board-delete-modal [open]="isDeleteModal" (closeModal)="toggleDeleteModal()"></board-delete-modal>
