<div class="flex justify-between align-center" style="gap: 8px">
  <div class="flex align-center">
    <h4 class="mr-10">Agile Boards:</h4>

    @if(isFetching){
    <ui-skeleton width="120px" height="30px"></ui-skeleton>
    } @else {
    <div class="">
      @if(isBoardSelect){
      <div class="flex align-center">
        <ui-select
          [options]="boardSelectOptions"
          [selected]="selectedBoardOption"
          (onSelect)="onOpenBoard($event)"
          [arrowPlacement]="'left'"
          placeholder="Select board"
          withSearch
        ></ui-select>

        <ui-popover>
          <div popover-anchor class="icon_more flex align-center">
            <img src="/svg/more.svg" alt="" />
          </div>

          <div popover-content>
            <div class="menu_items">
              @for (m of selectedBoardActions; track m.text) {
              <div class="menu_item" (click)="m.action()">{{ m.text }}</div>
              }
            </div>
          </div>
        </ui-popover>
      </div>
      } @else {
      <p class="">No Boards</p>
      }
    </div>
    }
  </div>

  <ui-button size="sm" (onClick)="toggleAddModal()">New Board</ui-button>
</div>

<div class="add_task">
  @if(isFetching) {
  <ui-skeleton width="82px" height="27px"></ui-skeleton>
  } @else {
  <ui-button size="sm" variant="outlined" (onClick)="toggleTaskModal()">Add Task</ui-button>

  }
</div>

<board-modal [open]="isAddModal" (closeModal)="toggleAddModal()"></board-modal>

<board-modal [open]="isEditModal" (closeModal)="toggleEditModal()" action="update"></board-modal>

<board-delete-modal [open]="isDeleteModal" (closeModal)="toggleDeleteModal()"></board-delete-modal>

<task-modal [open]="isTaskModal" (closeModal)="toggleTaskModal()"></task-modal>
