.logo {
  background: url('/images/logo.png') no-repeat center/cover;

  &.sm {
    width: 35px;
    height: 35px;
  }

  &.md {
    width: 48px;
    height: 48px;
  }

  &.lg {
    width: 90px;
    height: 90px;
  }
}
