<div class="mb-10">
  <ui-breadcrumbs [links]="links" />
</div>

<form [formGroup]="form" (ngSubmit)="handleSubmit()" (keydown.enter)="handleSubmit()">
  <div class="column gap-20">
    <ui-input
      formControlName="name"
      placeholder="Board name"
      fullWidth
      variant="underlined"
      [error]="nameError"
    />
    <ui-textarea formControlName="description" placeholder="Board description..." fullWidth />

    <div class="flex justify-end gap-10">
      <ui-button variant="outlined" (onClick)="handleCancel()">Cancel</ui-button>

      <ui-button type="submit" [loading]="isLoading">Create</ui-button>
    </div>
  </div>
</form>
