.wrapper {
  display: flex;
  height: 100svh;
  width: 100svw;

  .content {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    .container {
      padding: var(--page-padding);
      flex-grow: 1;
      height: calc(100% - 60px);
      overflow: scroll;
    }
  }
}
