<div class="select">
  <ui-popover [type]="'select'">
    <div popover-anchor class="body flex align-center" [ngClass]="arrowPlacement">
      @if (!selected) {
      <p>{{ placeholder }}</p>

      }
      <p>{{ selected?.label }}</p>

      <img src="/svg/chevron_left.svg" alt="" />
    </div>

    <div popover-content>
      <div class="menu_items">
        @for (m of options; track m.value) {
        <div class="menu_item" (click)="handleSelect(m.value)">{{ m.label }}</div>
        }
      </div>
    </div>
  </ui-popover>
</div>
