.select {
  img {
    transform: rotate(-90deg);
    width: 27px;
    height: 27px;
    display: block;
  }
  img.opened {
    transform: rotate(90deg);
  }

  .body {
    cursor: pointer;
    max-width: 140px;

    display: flex;
    align-items: center;

    &.right {
      flex-direction: row;
      justify-content: space-between;
    }
    &.left {
      flex-direction: row-reverse;
    }

    p {
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
