<div class="sticky-header">
  @for (c of columns; track c.id) {

  <p class="header">
    {{ c.name }}
  </p>
  <div class="divider"></div>

  }
</div>

<div class="container">
  @for (c of columns; track c.id) {
  <div class="column">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>

  <div class="divider"></div>
  }
</div>
