:host {
  height: calc(100svh - 60px - 24px - 74px);
  max-height: calc(100svh - 60px - 24px - 74px);

  width: calc(100vw - var(--menu-close-width) - 2 * var(--page-padding));

  flex-grow: 1;
  border: 1px solid grey;
  overflow: scroll;

  &.menu-opened {
    width: calc(100vw - var(--menu-open-width) - 2 * var(--page-padding));
  }

  .container {
    display: flex;
    overflow: scroll;
    width: fit-content;

    .column {
      // margin: 10px;
      width: 500px !important;
      height: auto;
      border: 3px solid red;
      .box {
        width: 50px;
        height: 50px;
        border: 3px solid blue;
      }
    }
  }
}
