@if (!isLoaded) {
<div class="fetching">
  <ui-skeleton width="300px" height="1000px"></ui-skeleton>
  <ui-skeleton width="300px" height="1000px"></ui-skeleton>
  <ui-skeleton width="300px" height="1000px"></ui-skeleton>
  <ui-skeleton width="300px" height="1000px"></ui-skeleton>
  <ui-skeleton width="300px" height="1000px"></ui-skeleton>
  <ui-skeleton width="300px" height="1000px"></ui-skeleton>
</div>
} @else {

<div class="sticky-header">
  @for (c of columns; track c.id) {

  <p class="header">
    {{ c.name }}
  </p>

  }
</div>

<div class="container">
  @for (col of columns; track col.id) {
  <div class="column">
    @for (taskId of col.taskIds; track taskId) {
    <task-item [task]="taskMap[taskId]"></task-item>
    }
  </div>
  }
</div>

}
