<div class="wrapper">
  @if (isFetching) {
  <ui-skeleton width="250px" height="100px"></ui-skeleton>
  <ui-skeleton width="250px" height="100px"></ui-skeleton>
  <ui-skeleton width="250px" height="100px"></ui-skeleton>

  } @else {

  <div class="w-full">
    @if (tasks.length === 0) {
    <p class="text-center">No tasks</p>
    } @else {
    <div class="">
      @for (task of tasks; track task.id) {
      <task-item [task]="task"></task-item>
      }
    </div>

    }
  </div>
  }
</div>

<task-modal [open]="isTaskModal" (closeModal)="toggleTaskModal()" action="edit-task"></task-modal>
