:host {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));

  gap: 10px;
  width: 100%;
  p {
    grid-column: span 3;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    p {
      grid-column: span 2;
    }
  }

  @media screen and (max-width: 568px) {
    grid-template-columns: repeat(1, minmax(150px, 1fr));
    p {
      grid-column: span 1;
    }
  }
}
