<button
  class="button"
  [disabled]="disabled() || loading()"
  [class.full_width]="fullWidth()"
  [class.filled]="variant() === 'filled'"
  [class.outlined]="variant() === 'outlined'"
  [class.disabled]="disabled()"
  [class.sm]="size() === 'sm'"
  [class.md]="size() === 'md'"
  [class.lg]="size() === 'lg'"
  [type]="type()"
  (click)="handleClick()"
>
  <ng-content></ng-content>

  @if (loading()) {
    <div class="load">
      <div
        class="spinner"
        [class.filled]="variant() === 'filled'"
        [class.outlined]="variant() === 'outlined'"
      ></div>
    </div>
  }
</button>
