<button
  class="button"
  [disabled]="disabled || loading"
  [ngClass]="{
    full_width: fullWidth,
    filled: variant === 'filled',
    outlined: variant === 'outlined',
    disabled: disabled,
    sm: size === 'sm',
    md: size === 'md',
    lg: size === 'lg',
  }"
  [type]="type"
  (click)="handleClick()"
>
  <ng-content></ng-content>

  @if (loading) {
    <div class="load">
      <div
        class="spinner"
        [ngClass]="{ filled: variant === 'filled', outlined: variant === 'outlined' }"
      ></div>
    </div>
  }
</button>
