<div class="side-menu" [ngClass]="{ collapsed: isCollapsed }">
  <div class="logo flex align-center">
    <ui-logo></ui-logo>
    <h3>Plan your day</h3>
  </div>

  <nav class="links">
    <ul>
      @for (l of links; track l.path) {
      <li>
        <a [routerLink]="l.path" routerLinkActive="active" #rla="routerLinkActive">
          <img [src]="'svg/' + l.icon + (rla.isActive ? 'red' : 'blue') + '.svg'" alt="" />
          <span [class.active]="rla.isActive">
            {{ l.title }}
          </span>
        </a>
      </li>
      }
    </ul>
  </nav>

  <button class="collapse_btn" (click)="toggleCollapse()">
    <img src="/svg/chevron_left.svg" alt="" />
  </button>
</div>
