<div class="side-menu" [ngClass]="{ collapsed: isCollapsed }">
  <div class="logo flex align-center">
    <ui-logo size="sm"></ui-logo>
    <h3>Plan your day</h3>
    <div class="close" (click)="toggleCollapse()">
      <img src="/svg/close.svg" alt="" />
    </div>
  </div>

  <nav class="links" (click)="onLinkClick()">
    <ul>
      @for (l of links; track l.path) {
      <li
        [ngClass]="{
        only_mobile: l.onlyMobile,
      }"
      >
        <a [routerLink]="l.path" routerLinkActive="active" #rla="routerLinkActive">
          <img [src]="'svg/' + l.icon + (rla.isActive ? 'red' : 'blue') + '.svg'" alt="" />
          <span [class.active]="rla.isActive">
            {{ l.title }}
          </span>
        </a>
      </li>
      }
    </ul>
  </nav>

  <button class="collapse_btn" (click)="toggleCollapse()">
    <img src="/svg/chevron_left.svg" alt="" />
  </button>

  <button class="logout" (click)="logout()">Log Out</button>
</div>

<div class="burger" (click)="toggleCollapse()">
  <img src="/svg/burger.svg" alt="" />
</div>
