<form
  [formGroup]="form"
  (ngSubmit)="handleSubmit()"
  (keydown.enter)="handleSubmit()"
  class="auth-form"
>
  @if(isDone) {
  <h1 class="">Done</h1>

  <p class="">Redirecting to login ...</p>
  } @else {

  <h1 class="">Reset Password</h1>

  <div class="">
    <ui-input
      formControlName="password"
      [error]="passwordError"
      placeholder="Password"
      type="password"
    ></ui-input>
    <ui-input
      formControlName="confirmPassword"
      [error]="confirmPasswordError"
      placeholder="Confirm your password"
      type="password"
    ></ui-input>
  </div>

  <ui-button fullWidth size="lg" [loading]="isLoading" type="submit">Submit</ui-button>

  <div class="text-center">
    <a routerLink="/login">Back to login</a>
  </div>
  }
</form>
