<div class="sticky-header">
  @for (c of columns; track c.name) {
    <board-column-header [name]="c.name" />
  }
</div>

<div class="container">
  @for (col of columns; track col.name) {
    <div class="column">
      @if (isFetching) {
        <ui-skeleton width="100%" height="100px" />
        <ui-skeleton width="100%" height="100px" />
        <ui-skeleton width="100%" height="100px" />
      } @else {
        @for (taskId of col.taskIds; track taskId) {
          <task-item [task]="taskMap[taskId]" (onClickTask)="openTask(taskId)" />
        }
      }
    </div>
  }
</div>
