<div class="sticky-header">
  @for (status of statuses; track status) {
    <board-column-header [name]="status" />
  }
</div>

<div class="container" cdkDropListGroup>
  @for (status of statuses; track status) {
    <div
      class="column"
      cdkDropList
      [id]="status"
      [cdkDropListData]="columns()[status]"
      (cdkDropListDropped)="onTaskDrop($event)"
    >
      @if (isFetching()) {
        @for (s of [1, 2, 3]; track s) {
          <ui-skeleton width="100%" height="100px" />
        }
      } @else {
        @for (task of columns()[status]; track task.id) {
          <task-item
            cdkDrag
            [cdkDragData]="task"
            cdkDragBoundary=".container"
            [task]="task"
            (onClickTask)="openTask(task.id)"
          />
        }
      }
    </div>
  }
</div>
