<div class="topbar">
  <div class="right-icons">
    <ui-icon name="notification" [size]="32" />

    <ui-popover>
      <div class="circle" popover-anchor>
        @if (avatar()) {
          <img [src]="avatar()" alt="avatar" />
        } @else {
          {{ letters() }}
        }
      </div>

      <div popover-content>
        <div class="menu_items">
          @for (m of menuItems(); track m.text) {
            <div class="menu_item" (click)="m.action()">{{ m.text | titlecase }}</div>
          }
        </div>
      </div>
    </ui-popover>
  </div>

  <div class="burger" (click)="toggleMenu()">
    <ui-icon name="burger" [size]="32" />
  </div>
</div>
