<form class="" [formGroup]="form">
  @if (isFetching) {
  <div class="filters">
    <ui-skeleton width="200px" height="41px"></ui-skeleton>
    <ui-skeleton width="200px" height="41px"></ui-skeleton>
  </div>

  } @else {
  <div class="filters">
    <ui-input placeholder="Search" formControlName="search"></ui-input>
    <ui-selector
      [options]="boardOptions"
      placeholder="Board"
      formControlName="boardId"
    ></ui-selector>
    <ui-selector
      [options]="statusOptions"
      placeholder="Status"
      formControlName="statusId"
    ></ui-selector>
    <ui-selector
      [options]="priorityOptions"
      placeholder="Priority"
      formControlName="priority"
    ></ui-selector>
  </div>
  }
</form>
