.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
}

.selectors {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    width: 100%;
  }

  .selector {
    width: 200px;

    @media (max-width: 768px) {
      width: 32%;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
  }
}

.search {
  @media (max-width: 500px) {
    width: 100%;
  }
}
