@if (isFetching) {
  <ui-list-container>
    @for (item of [1, 2, 3]; track item) {
      <ui-skeleton height="100px" />
    }
  </ui-list-container>
} @else {
  @if (tasks.length === 0) {
    <p class="text-center">No tasks</p>
  } @else {
    <ui-list-container>
      @for (task of tasks; track task.id) {
        <task-item [task]="task" (onClickTask)="toggleTaskModal(task.id)" />
      }
    </ui-list-container>
  }
}

<task-modal [open]="isTaskModal" (closeModal)="toggleTaskModal()" action="edit-task"></task-modal>
