<div class="toast-wrapper">
  @for (t of toasts(); track t.id) {
    <div class="toast" [ngClass]="{ hide: !t.isOpen }">
      <div class="toast_content">
        @if (t.type === 'error') {
          <ui-icon name="error" [size]="36" color="var(--error-color)" />
        }
        @if (t.type === 'success') {
          <ui-icon name="success" [size]="36" color="var(--success-color)" />
        }
        <div class="message">
          {{ t.message }}
        </div>

        <ui-icon name="close" [size]="26" (click)="closeToast(t.id)" />
      </div>
    </div>
  }
</div>
