:host {
  height: 100%;
}

.wrapper {
  width: 100%;
  position: relative;
  height: 100%;

  textarea {
    width: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 18px;
    line-height: 30px;
    padding: 8px 6px;
    font-family: inherit;
    margin-bottom: 0;
    height: 100%;
    resize: none;
    background-color: var(--bg-color);
    color: var(--text-color);

    &:focus {
      outline: none;
      border-color: var(--prime-color);
    }
  }

  .error {
    font-size: 14px;
    height: 20px;

    span {
      color: var(--error-color);
    }
  }
}
