<ui-modal [open]="open" (closeModal)="onCloseModal()">
  <form
    class="task-modal"
    [formGroup]="form"
    (ngSubmit)="handleSubmit()"
    (keydown.enter)="handleSubmit()"
  >
    <h3 class="text-center mb-10">Task details</h3>
    <div class="fields">
      <div class="inputs">
        <ui-input placeholder="Title" formControlName="title" [error]="titleError"></ui-input>
        <ui-textarea
          placeholder="Description"
          formControlName="description"
          [rows]="8"
        ></ui-textarea>
      </div>
      <div class="selects">
        <ui-selector
          formControlName="boardId"
          placeholder="Select board..."
          [options]="boardOptions"
        ></ui-selector>
        <ui-selector
          formControlName="statusId"
          placeholder="Select column..."
          [options]="columnOptions"
        ></ui-selector>
        <ui-selector
          formControlName="priority"
          placeholder="Select proirity..."
          [options]="priorityOptions"
        ></ui-selector>
        <ui-input placeholder="Date"></ui-input>
      </div>
    </div>

    <div class="flex gap-10 w-full">
      <ui-button fullWidth type="submit">Save</ui-button>

      <ui-button fullWidth variant="outlined" (onClick)="onCloseModal()">Close</ui-button>
    </div>
  </form>
</ui-modal>
