<ui-modal [open]="open" (closeModal)="onCloseModal()">
  <form
    class="task-modal"
    [formGroup]="form"
    (ngSubmit)="handleSubmit()"
    (keydown.enter)="handleSubmit()"
  >
    <div class="flex mb-10">
      <h3 class="text-center w-full">Task details</h3>

      @if (isDeleteIcon) {

      <div class="delete" (click)="toggleDeleteModal()">
        <img src="/svg/delete.svg" alt="" />
      </div>
      }
    </div>
    <div class="fields">
      <div class="inputs">
        <ui-input placeholder="Title" formControlName="title" [error]="titleError"></ui-input>
        <ui-textarea
          placeholder="Description"
          formControlName="description"
          [rows]="8"
        ></ui-textarea>
      </div>
      <div class="selects">
        <ui-selector
          formControlName="boardId"
          placeholder="Select board..."
          [options]="boardOptions"
        ></ui-selector>
        <ui-selector
          formControlName="statusId"
          placeholder="Select column..."
          [options]="columnOptions"
        ></ui-selector>
        <ui-selector
          formControlName="priority"
          placeholder="Select proirity..."
          [options]="priorityOptions"
        ></ui-selector>
        <ui-input placeholder="Date"></ui-input>
      </div>
    </div>

    <div class="flex gap-10 w-full">
      <ui-button fullWidth type="submit">Save</ui-button>

      <ui-button fullWidth variant="outlined" (onClick)="onCloseModal()">Close</ui-button>
    </div>
  </form>
</ui-modal>

<confirm-modal
  [open]="isDeleteModalOpen"
  (closeModal)="toggleDeleteModal()"
  [isLoading]="isDeleting"
  [title]="'Are you sure you want to delete this task?'"
  (confirm)="onDeleteTask()"
></confirm-modal>
