.task-modal {
  width: 900px;

  @media (max-width: 1000px) {
    width: 600px;
  }

  @media (max-width: 650px) {
    width: 100%;
  }

  .fields {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .inputs {
      width: 60%;
    }

    .selects {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;

      .inputs {
        width: 100%;
      }

      .selects {
        width: 100%;
      }
    }
  }
}
