<ui-modal [open]="open" (closeModal)="onCloseModal()">
  <form
    class="task-modal column gap-10"
    [formGroup]="form"
    (ngSubmit)="handleSubmit()"
    (keydown.enter)="handleSubmit()"
  >
    <h3 class="text-center">Task details</h3>
    <div class="fields">
      <div class="inputs">
        <!-- formControlName="login" -->
        <ui-input placeholder="Title" formControlName="title" [error]="titleError"></ui-input>
        <ui-input placeholder="Description" formControlName="description"></ui-input>
      </div>
      <div class="selects">
        <ui-select placeholder="Select board" [options]="boardOptions"></ui-select>
        <ui-select placeholder="Select column" [options]="columnOptions"></ui-select>
        <ui-select placeholder="Select proirity" [options]="priorityOptions"></ui-select>
      </div>
    </div>

    <div class="flex gap-10 w-full">
      <ui-button fullWidth type="submit">Save</ui-button>

      <ui-button fullWidth variant="outlined" (onClick)="onCloseModal()">Close</ui-button>
    </div>
  </form>
</ui-modal>
